<md-header></md-header>
<div id="base">

  <div class="offcanvas">
  </div>

  <div id="content">

    <section>
      <div class="section-header">
        <ol class="breadcrumb">
          <li><i class="md md-trending-up" style="font-size: 24px;height: 35px;"></i> <a href="relatorio/">Relatórios</a></li>
        </ol>
      </div>
      <div class="section-body contain-lg">
        <div class="col-md-12">

          <div class="card">
            <div class="card-body">

              <h3 class="text-light text-light-gray">Por agendamento</h3>
              <div class="form-group">
                <div class="col-md-12">
                  <ul>
                    <li><a href="relatorio/agendamento/status/servicos">Status/Serviço</a></li>
                    <li><a href="relatorio/agendamento/status/profissional">Status/Profissional</a></li>
                    <li><a href="relatorio/agendamento/servicos/profissional">Serviço/Profissional</a></li>
                    <li><a href="relatorio/agendamento/status/servicos/profissional">Status/Serviço/Profissional</a></li>
                  </ul>
                </div>
              </div>

              <hr class="panel-wide">
              <h3 class="text-light text-light-gray">Financeiro</h3>
              <div class="form-group">
                <div class="col-md-12">
                  <ul>
                    <li><a class="text-default-light" href="" style="text-decoration:line-through;">Forma de pagamento</a></li>
                    <li><a class="text-default-light" href="" style="text-decoration:line-through;">Forma de pagamento/valor pago</a></li>
                  </ul>
                </div>
              </div>


            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <md-sidebar></md-sidebar>

  <md-aside></md-aside>

</div>
