<!-- Header template -->
<template-header></template-header>

<div class="detalhe-agendamento" ng-init="getCompanys()">
	<div class="container">ESTABELECIMENTOS E SERVIÇOS</div>
</div>

<div class="container">

	<div class="col-md-12">

		<div class="row cada-empresa" ng-show="totalItems == undefined">
			<div class="col-md-12 text-center no-result">
				<i class="fa fa-search"></i>
				<h1 class="no-result-title">Nenhum resultado encontrado!</h1>
				<p>Por favor verifique se as palavras estão corretas ou use menos palavras.</p>
			</div>
		</div>

		<div class="row cada-empresa loadingsubfilter" ng-show="loadersearch">
			<div class="loading">
				<div class="col-sm-12 text-center loader">
					<i class="fa fa-3x fa-spinner fa-spin"></i>
                    <p>Aguarde alguns segundos, estamos processando...</p>
				</div>
			</div>
		</div>

		<div class="row cada-empresa">
			<div class="col-md-12">
				<section class="result-companies">
					<div class="row">
						<div class="col-md-7"><span>Exibindo {{ companies.results.length }} resultados de  <strong>{{query}}</strong></span></div>
					</div>

				</section>
				<section class="empresas">
					<!-- início do prestador de serviço ou empresa -->
					<div class="empresa" ng-repeat="company in companies" ng-show="companies.length">
						<a href="/estabelecimento/{{company.hash}}" data-toggle="tooltip" data-placement="right" data-original-title="Detalhar">
							<div class="row">
								<div class="col-md-5">
									<img ng-if="company.imagem == undefined"
										 ng-src="assets/img/empresas/default.png" border="0" />
									<img ng-if="company.imagem != undefined" 
										ng-src="{{company.imagem}}?w=350&h=200&auto=compress" border="0" />
								</div>
								<div class="col-md-7">
									<div class="descricao">
										<h4>{{company.nomefantasia}}</h4>
										<span class="endereco" ng-bind="company.logradouro + ', ' + 'Nº ' + (company.numero) + (company.complemento ? ', ' + company.complemento : '')"></span>
										<span class="bairro" ng-bind="company.bairro + ', ' + company.cidade + ', ' + company.estado + ' ' + (company.cep | brCep)" ></span>
										<span class="formas-pagamento" ng-if="company.pagamento.length > 0">
											<ul>
												<li>
													<span class="avaliation">
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star"></i>
														<i class="fa fa-star-half-full"></i>
														<i class="fa fa-star-o"></i>
														<small>(23)</small>
													</span>
												</li>
												<li>
													<span class="payment"><i ng-repeat="pagamento in company.pagamento" ng-class="'fa ' + pagamento.icone" ng-title="pagamento.nome"></i></span>
												</li>
												<li><span class="promotion"><i>%</i> PROMOÇÃO</span></li>
											</ul>
										</span>
										
										<span class="detalhe" ng-if="company.sobre">{{company.sobre}}</span>
									</div>
								</div>
							</div>
						</a>
					
						<div class="list-service">
						<ul class="row">
							<li ng-repeat="service in company.services">
								<div class="row">
									<div class="col-md-6 col-sm-6 col-xs-12" ng-bind="service.nome"><i ng-bind="service.duracao"> min</i></div>
									<div class="col-md-4 col-sm-4 col-xs-12 text-right">
										<span ng-if="service.valor" ng-class="{'no-promotion': service.promocao == 1}" ng-bind="service.valor|finance:true:2"></span>
										<span ng-if="service.promocao == 1" ng-bind="'R$ ' + service.valorpromocao"></span>
									</div>
									<div class="col-md-2 col-sm-2 col-xs-12 text-right">
										<a href="/estabelecimento/{{company.hash}}/agendamento/{{service.hash}}" class="btn btn-mark" title="Agendar">
											AGENDAR
										</a>
									</div>
								</div>
							</li>
						</ul>
					</div>
					
					</div>
					<!-- fim prestador de serviço ou empresa -->
				</section>
			</div>
		</div>

		<div class="row text-right" ng-show="companies[0].hash != undefined">
			<pagination total-items="totalItems" 
						ng-model="currentPage" 
						max-size="entryLimit" 
						boundary-links="true" 
						items-per-page="numPerPage" 
						previous-text="Voltar"
						next-text="Próximo"
						first-text="Primeiro"
						last-text="Último"
						ng-change="changePaginate()"
						class="pagination-sm">
			</pagination>
			<!-- fim da paginação -->
		</div>
		
		
	</div>
</div>

<!-- Footer template -->
<template-footer></template-footer>