<!-- modal-header start -->
<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true" ng-click="cancel()">×</button>
    <h4 class="modal-title text-uppercase">Avaliação o estabelecimento</h4>
</div>
<!-- modal-header end -->

<!-- modal-body start -->
<div class="modal-body">

  <div ng-if="success || error" class="row">
    <div class="col-md-12 text-center">
      <section class="mensagem" ng-if="success">
          <i class="fa fa-check-circle fa-2x"></i>
          <div class="alert mensagem-fa-icon-sucesso"
            ng-bind="success"></div>
      </section>
      <section class="mensagem" ng-if="error">
          <i class="fa fa-ban fa-2x error"></i>
          <div class="alert mensagem-fa-icon-error"
            ng-bind="error"></div>
      </section>
    </div>
  </div>

  <!-- form start -->
  <form ng-if="!success && !error" 
    name="$root.formAvaliacao" class="form-horizontal" 
    role="form" novalidate>

    <div class="form-group">
      <div class="col-md-12">
          <textarea ng-model="avaliacao.parametro.comentario"
                     rows="5" 
                     name="comentario" 
                     class="form-control"
                     placeholder="Conte-nos sobre sua experiência"
                     maxlength="500" 
                     required>
          </textarea>
          <span ng-if="formAvaliacao.comentario.$touched && formAvaliacao.comentario.$dirty" 
            class="input-dirty-touched">
              <i ng-class="formAvaliacao.comentario.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
          </span>
          <span class="text-right pull-right" ng-bind="countComent(avaliacao.parametro.comentario.length)"></span>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <div>
          <span uib-rating 
              ng-model="avaliacao.parametro.avaliacao"
              class="avaliation" 
              max="rating_max" 
              state-on="'fa fa-star fa-2x'" 
              state-off="'fa fa-star-o fa-2x'" 
              titles="['Odie','Não gostei','É satisfatório','Gostei','Amei']" 
              aria-labelledby="default-rating">
          </span> 
          <span>
            <b ng-if="avaliacao.parametro.avaliacao==1">Odie</b>
            <b ng-if="avaliacao.parametro.avaliacao==2">Não gostei</b>
            <b ng-if="avaliacao.parametro.avaliacao==3">É satisfatório</b>
            <b ng-if="avaliacao.parametro.avaliacao==4">Gostei</b>
            <b ng-if="avaliacao.parametro.avaliacao==5">Amei</b>
          </span>
        </div>
      </div>
    </div>

    <div class="form-group">
      <div class="col-md-12">
        <button
          ng-click="rating()"
          ng-disabled="formAvaliacao.$invalid || !avaliacao.parametro.avaliacao || status.loading"
          ng-class="{disabled: formAvaliacao.$invalid}"
          class="btn btn-lg btn-mark"
          ng-switch="status.loading"
          style="width: 100%">
          <span ng-switch-default>Avaliar</span>
          <span ng-switch-when="true">
              <i ng-if="status.loading" 
              class="fa fa-spin fa-spinner"></i> Salvando...</span>
        </button>
      </div>
    </div>


  </form>
  <!-- form end -->

</div>
<!-- modal-body end -->

<!-- modal-footer start -->
<!-- <div class="modal-footer">
    <button class="btn btn-sm btn-default" type="button" ng-click="cancel()"> Fechar</button>
</div> -->
<!-- modal-footer end -->


