<div class="transparencia"></div>
<div class="fundo-estabelecimento">
	<a href="/" class="voltar ng-scope">Voltar</a>
	<div class="container">
		<div class="row">
			<div class="col-md-7">
				<div class="list-itens">
					<h1>Mais facilidades para criação de suas pesquisas.</h1>
					<ul>
						<li><i class="fa fa-check"></i> Pesquisas, respondentes e perguntas ilimitadas</li>
						<li><i class="fa fa-check"></i> Mensalidade de R$14,90 <small>(não cobramos taxas adicionais por usuários)</small></li>
						<li><i class="fa fa-check"></i> Coleta rápida de respostas por e-mail e rede socias</li>
						<li><i class="fa fa-check"></i> Analise de resultados<small>(Word, PDF, Excel e Power Point)</small></li>
						<li><i class="fa fa-check"></i> Relatórios e resultados em tempo real</li>

					</ul>
				</div>
			</div>
			<div class="col-md-5" ng-init="step = 1">
				<div ng-show="step == 1" class="register-company">
					<h2>Experimente de forma gratuito por 15 dias</h2>
					<p>Parte 1 - Dados do Administrador</p>
					<form name="formCadastroEstabelecimento" role="form" class="form-signin" novalidate>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" 
										name="nome" 
										ng-model="estabelecimento.nome" 
										placeholder="Nome" 
										type="text"
										required>
										<div class="input-group-addon">
											<i class="fa fa-user-o"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" 
										name="nomeAdmin" 
										ng-model="estabelecimento.sobrenome" 
										placeholder="Sobrenome" 
										type="text">
										<div class="input-group-addon">
											<i class="fa fa-user-o"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" name="email" ng-model="estabelecimento.email" ng-change="checkEmail()" ng-model-options="{ debounce: 500 }"
										id="email" placeholder="E-mail" 
										type="email"
										required>
										<div class="input-group-addon">
											<i class="fa fa-envelope-o"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" name="senha" ng-model="estabelecimento.senha" id="senha" placeholder="Senha" 
										type="password"
										required>
										<div class="input-group-addon">
											<i class="fa fa-key"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" name="confirmaSenha" ng-model="estabelecimento.confirmaSenha" id="confirmar-senha" placeholder="Confirmar senha"
										type="password"
										required>
										<div class="input-group-addon">
											<i class="fa fa-key"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<button ng-click="step = 2" ng-disabled="formCadastroEstabelecimento.$invalid || estabelecimento.senha != estabelecimento.confirmaSenha" class="btn-success btn btn-avalia-lg">CONTINUAR</button>
							</div>
						</div>
					</form>
				</div>

				<div ng-show="step == 2" class="register-company register2">
					<h2>Experimente Grátis por 30 dias</h2>
					<p>Parte 2 - Dados do Estabelecimento</p>
					<form name="formCadastroEstabelecimentoAdmin" role="form" class="form-signin" novalidate>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" name="nomefantasia" ng-model="estabelecimento.nomefantasia" id="nome-estabelecimento" placeholder="Nome do estabelecimento"
											type="text" required>
										<div class="input-group-addon">
											<i class="fa fa-building-o"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" ng-model="estabelecimento.telefone" id="telefone" placeholder="Telefone" type="tel"
											ui-br-phone-number required>
										<div class="input-group-addon">
											<i class="fa fa-mobile"></i>
										</div>
									</div>
								</div>
							</div>						
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" ng-model="estabelecimento.cep" id="cep" ui-br-cep-mask placeholder="CEP" type="text" required>
										<div class="input-group-addon">
											<i class="fa fa-map-marker"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="select-style">
										<select ng-model="estabelecimento.idestado" ng-init="loadEstados()" ng-change="loadCidades()" ng-options="estado.id as estado.nome for estado in estados"
											class="form-control" required>
											</select>
									</div>
								</div>
							</div>
						</div>

						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="select-style">
										<select ng-model="estabelecimento.idcidade" ng-init="loadCidades()" ng-options="cidade.id as cidade.nome for cidade in cidades"
											class="form-control" required>
											</select>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" ng-model="estabelecimento.bairro" id="bairro" placeholder="Bairro" type="text" required>
										<div class="input-group-addon">
											<i class="fa fa-map-marker"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" ng-model="estabelecimento.endereco" id="endereco" placeholder="Av. Brasil, 1000" type="text" required>
										<div class="input-group-addon">
											<i class="fa fa-map-marker"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-6">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" ng-model="estabelecimento.numero" id="numero" placeholder="Número" type="number" required>
										<div class="input-group-addon">
											<i class="fa fa-map-marker"></i>
										</div>
									</div>
								</div>
							</div>
							<div class="col-md-12">
								<div class="form-group">
									<div class="input-group">
										<input class="form-control" ng-model="estabelecimento.complemento" id="complemento" placeholder="Complemento (opcional)"
											type="text">
										<div class="input-group-addon">
											<i class="fa fa-map-marker"></i>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-md-12 text-center">
								<button ng-click="step = 1" 
								class="btn btn-avalia-middle">Voltar</button>
								<button ng-click="save()" ng-disabled="formCadastroEstabelecimentoAdmin.$invalid" 
								class="btn-success btn btn-avalia-middle">CADASTRAR</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>