<!-- Header template -->
<template-header></template-header>
<style>
    .termo h1{
        margin-top: 150px;
        font-size: 20px;
        font-family: Ubuntu, sans-serif;
        font-weight: bold;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        width: 100%;
        text-align: center;
        margin-bottom: 20px;
    }
    .termo h2{
     
        font-size: 15px;
        font-family: Ubuntu, sans-serif;
        font-weight: bold;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .termo h3{
     
        font-size: 15px;
        font-family: Ubuntu, sans-serif;
        font-weight: bold;
        font-weight: 600;
        text-transform: uppercase;
        display: block;
        width: 100%;
        margin-bottom: 20px;
    }
    .termo p{
        margin-top: 20px; font-size: 12px; font-family: Ubuntu, sans-serif; font-weight: 100;
    }
    .termo strong{
        font-family: Ubuntu, sans-serif;
        font-weight: 500;
    }
</style>


<div class="container termo">
	
		  <h1> Perguntas frequentes</h1>

        <h3>Clientes</h3>

		<ul>
			<li><a class="link-default" data-toggle="collapse"  href="#cliente-01">Como o estabelecimento fica sabendo do meu agendamento?</a></li>

				<div id="cliente-01" class="collapse">
	               <p>Quando você agenda um horário online, sua reserva de horário aparece em uma agenda disponibilizada pela MARKDAY diretamente para os profissionais, que acompanham sua agenda diariamente e recebem avisos dos agendamentos. Nada de ligar ou se preocupar!</p>
				</div>
			

			<li><a class="link-default" data-toggle="collapse"  href="#cliente-02">Como eu entro em contato com a MARKDAY?</a></li>

				<div id="cliente-02" class="collapse">
	               <p>Nós estamos sempre disponíveis a ajudá-lo (a)! Para entrar em contato conosco clique <a class="link-default" href="https://www.markday.com.br/contato">aqui.</a></p>
				</div>
			
			<li><a class="link-default" data-toggle="collapse"  href="#cliente-03">Como encontro um estabecimento de beleza & bem estar?</a></li>

				<div id="cliente-03" class="collapse">
	               <p>Basta digitar o tipo de serviço ou profissonal buscado e seu CEP (ou cidade) e pronto! Aparecerá uma lista completa com todos salões que combinam os critérios utilizados na sua busca.</p> 
				</div>
			
			<li><a class="link-default" data-toggle="collapse"  href="#cliente-04">Como eu pago pelo serviço?</a></li>
			
				<div id="cliente-04" class="collapse">
	              	<p>Diretamente no estabelecimento<br>
					Consulte o estabelecimento para saber mais a respeito dos meios de pagamento aceitos.</p>

					<p>Pagamento Online<br>
					Você também pode pagar online, pelo website ou aplicativo da MARKDAY assim que você agendar seu (s) serviço (s).</p>
				</div>

			<li><a class="link-default" data-toggle="collapse"  href="#cliente-05">Como posso usar meus cupons de desconto?</a></li>

				<div id="cliente-05" class="collapse">
					<p>Os cupons estão disponíveis apenas para pagamento online. Existem dois tipos de cupons: no primeiro tipo, você recebe um desconto fixo estabelecido, e, no segundo tipo, você recebe uma porcentagem de desconto no preço total do serviço oferecido. Fique ciente que cada cliente tem direito a apenas um cupom de desconto por vez e todos os cupons possuem data de validade. Caso o cupom não seja usado até a data limite ele expira automaticamente, tornando-se inválido.</p>
				</div>

			<li><a class="link-default" data-toggle="collapse"  href="cliente-06">Como posso consultar meus agendamentos?</a></li>

				<div id="cliente-06" class="collapse">
					<p>No seu perfil, você pode selecionar “Meus Agendamentos”, onde são listados todos os seus agendamentos, passados e futuros. Você pode inclusive alterar ou cancelar os agendamentos futuros.</p>
				</div>
				


			<li><a class="link-default" data-toggle="collapse"  href="cliente-07">Até quanto tempo antes do agendamento posso cancelar o serviço?</a></li>

				<div id="cliente-07" class="collapse">
					<p>Após realizado o pagamento, você tem até 48 horas antes da data agendada para cancelar o seu serviço.</p>

					<p>Se você não puder comparecer a alguma de suas reservas, vá até a área de “reservas”, escolha a reserva que quiser e clique em “cancelar”. A MARKDAY não se responsabiliza por políticas específicas de cancelamento de cada estabelecimento listado. Por esse motivo, sugerimos que em casos de cancelamentos de último minuto você entre em contato diretamente com o estabelecimento.</p>
				</div>

			<li><a class="link-default" data-toggle="collapse"  href="cliente-08">Sou alérgica a um produto, como vou avisar ao estabelecimento?</a></li>

				<div id="cliente-08" class="collapse">
					<p>Na conclusão do agendamento, você poderá informar tudo que desejar ao estabelecimento. No entanto nós recomendamos que você informe novamente na recepção, assim que chegar ao estabelecimento.</p>
				</div>

			<li><a class="link-default" data-toggle="collapse"  href="cliente-09">Não gostei do serviço realizado, como faço uma reclamação?</a></li>

             	<div id="cliente-09" class="collapse">
					<p>Após a realização dos serviços você pode acessar a pagina do profissional. Você também pode contatar a nossa equipe de atendimento ao cliente - nós adoraríamos ouvir a sua opinião e estamos sempre prontos para ajudá-lo (a).</p>
				</div>

		</ul>

		<h3>Estabelecimentos</h3>

		<ul>
			<li><a class="link-default" data-toggle="collapse"  href="servico">Como eu entro em contato com a MARKDAY?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico">Como faço meu cadastro?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico">Meu estabelecimento vai ter o seu próprio website?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico">Eu posso colocar alguma foto do meu estabelecimento no meu perfil?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico">É fácil atualizar o perfil do meu estabelecimento?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico">Vocês vão ter uma pessoa para gerenciar a minha agenda?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico">Trabalho atualmente com agenda de papel, e agora?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico">O que é a plataforma MARKDAY?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico">A minha agenda atual estará sincronizada com a agenda da MARKDAY?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico">Eu gostaria de saber a opinião dos meus clientes. Meu estabelecimento receberá esse feedback?</a></li>
			<li><a class="link-default" href="#question-professional-11">Os clientes sempre esquecem do agendamento, como lembrá-los?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico"">Posso acessar o meu calendário offline?</a></li>
			<li><a class="link-default" data-toggle="collapse"  href="servico"">Posso levar o agendamento para o meu site?</a></li>
		</ul>

	

		
		
		

		

		

		

		

		

	

	

		<h2 class="section-subtitle">Salões</h2>

		<h3 class="question" id="question-professional-1">Como eu entro em contato com a MARKDAY?</h3>

		<p>Nós estamos sempre disponíveis a ajudá-lo (a)! Para entrar em contato conosco clique <a class="link-default" href="https://www.MARKDAY.com.br/static/contato">aqui.</a></p>

		<h3 class="question" id="question-professional-2">Como faço meu cadastro?</h3>

		<p>Clique <a class="link-default" href="http://vemcomagente.MARKDAY.com.br/">aqui.</a> para cadastrar o seu estabelecimento. Favor informar nome e e-mail para podermos entrar em contato com você o mais rápido possível.</p>

		<h3 class="question" id="question-professional-3">Meu estabelecimento vai ter o seu próprio website?</h3>

		<p>Após o cadastro, o perfil do seu estabelecimento será exibido tanto no site quanto no app da MARKDAY.</p>

		<h3 class="question" id="question-professional-4">Eu posso colocar alguma foto do meu estabelecimento no meu perfil?</h3>

		<p>A MARKDAY oferece o serviço de um fotógrafo profissional para tirar fotos do seu estabelecimento. Se você já tem fotos do estabelecimento, basta entrar em contato conosco que nós podemos incorporá-las ao seu perfil!</p>

		<h3 class="question" id="question-professional-5">É fácil atualizar o perfil do meu estabelecimento?</h3>

		<p>Sim, você pode entrar no seu perfil e alterar descrição, fotos e serviços a qualquer momento.</p>

		<h3 class="question" id="question-professional-6">Vocês vão ter uma pessoa para gerenciar a minha agenda?</h3>

		<p>Não, sua agenda está disponível no seu celular, tablet ou computador 24h por dia para que você possa gerenciá-la da maneira que preferir.</p>

		<h3 class="question" id="question-professional-7">Trabalho atualmente com agenda de papel, e agora?</h3>

		<p>Você pode utilizar a ferramenta my.MARKDAY sem nenhum custo para incluir todos os seus agendamentos, mesmo aqueles que não foram feitos pela nossa plataforma. Dessa forma, você terá um controle muito maior dos seus horários.</p>

		<h3 class="question" id="question-professional-8">O que é a plataforma MARKDAY?</h3>

		<p>my.MARKDAY é uma ferramenta gratuita e fácil de usar, desenvolvida especialmente para o seu estabelecimento. Ela permite que você: planeje e gerencie os seus agendamentos online, receba notificações automáticas de novos agendamentos, organize a agenda de seus funcionários com um calendário online e veja as informações de cada cliente para que você possa oferecer um serviço personalizado.</p>

		<h3 class="question" id="question-professional-9">A minha agenda atual estará sincronizada com a agenda da MARKDAY?</h3>

		<p>Sim. Nós anunciaremos as parcerias com os softwares de gestão muito em breve</p>

		<h3 class="question" id="question-professional-10">Eu gostaria de saber a opinião dos meus clientes. Meu estabelecimento receberá esse feedback?</h3>

		<p>Sim. Os clientes da MARKDAY serão notificados para avaliar seu atendimento logo após a realização de cada serviço. Quanto mais recomendações e comentários positivos, maior sua chance de conquistar novos clientes!</p>

		<h3 class="question" id="question-professional-11">Os clientes sempre esquecem do agendamento, como lembrá-los?</h3>

		<p>O cliente que fizer um agendamento pela MARKDAY receberá e-mail e notificações em SMS para lembra-lo do horário marcado.</p>

		<h3 class="question" id="question-professional-12">Posso acessar o meu calendário offline?</h3>

		<p>Sim, você pode acessar o seu calendário MARKDAY tanto online como offline. A informação mostrada será correspondente a última vez que você esteve online.</p>

		<h3 class="question" id="question-professional-13">Posso levar o agendamento para o meu site?</h3>

		<p>Sim, se você já tem seu próprio website você pode integrar a ferramenta my.MARKDAY ali mesmo, reunindo todos os agendamentos (feitos ou não pela nossa plataforma) em apenas um lugar.</p>
</div>


<!-- Footer template -->
<template-footer></template-footer>