<!-- Header template -->
<template-header></template-header>
<div ng-controller="listarDestaquesController" ng-init="load()" class="container featured margin-t-80">

    <h1 ng-bind="destaques[0].segmento_titulo"></h1>
    <p ng-bind="destaques[0].segmento_descricao"></p>
    
    <div class="row">
        <div class="col-md-4" ng-repeat="destaque in destaques">
            <a ng-href="/{{(destaque.pagina) | link}}/{{destaque.hash}}" class="salon">
                <div class="image">
                    <div>
                        <img ng-src="{{destaque.imagem}}?h=200&w=300&fit=crop">
                    </div>
                    <span class="value"><small>Exibir Serviços</small></span>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="col-xs-12">
                            <h2 ng-bind="destaque.estabelecimento"></h2>
                        </div>
                        <div class="col-xs-12">
                            <address class="endereco">
                                <i class="fa fa-map-marker"></i> 
                                <span ng-bind="destaque.logradouro + ', Nº ' + destaque.numero + ' - '"></span>
                                <span ng-bind="destaque.bairro"></span>
                            </address>
                        </div>
                        <div class="col-xs-12">
                            <!--
                            <span class="avaliation">
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star"></i>
                                <i class="fa fa-star-half-full"></i>
                                <i class="fa fa-star-o"></i>
                                <small>(23)</small>
                            </span>!-->
                        </div>
                        <div class="col-xs-6">
                           <p ng-if="destaque.abertura && destaque.fechamento" ng-bind="'Das ' + destaque.abertura + ' às ' + destaque.fechamento"></p>
                        </div>
                        <div class="col-xs-6">
                            <p>A partir de R$ <span ng-bind="destaque.menor_preco"></span></p>
                        </div>
                    </div>
                </div>
            </a>
        </div> 
    </div>
    <!-- End Row -->
</div>
<!-- Footer template -->
<template-footer></template-footer>