<!-- Header template -->
<template-header></template-header>
	<style>
	    .termo h1{
	        margin-top: 150px;
	        font-size: 20px;
	        font-family: Ubuntu, sans-serif;
	        font-weight: bold;
	        font-weight: 600;
	        text-transform: uppercase;
	        display: block;
	        width: 100%;
	        text-align: center;
	        margin-bottom: 60px;
	    }
	    .termo p{
	        margin-top: 20px; font-size: 12px; font-family: Ubuntu, sans-serif; 
	    }
	    .termo strong{
	        font-family: Ubuntu, sans-serif;
	        font-weight: 500;
	    }
	    .destaque {
	   
	        font-weight:bolder;
	    }
	</style>


<div class="container termo">

<h1>Sobre a MARKDAY</h1>

		<p>MARKDAY é uma plataforma online de beleza &amp; bem-estar compreendendo site e App.

		A Markday possibilita encontrar e agendar serviços de beleza &amp; bem-

		estar de um jeito prático e fácil.</p>

		<p>Nós tornamos possível a tarefa de encontrar e solicitar o serviço nos estabelecimentos de

		beleza &amp; bem-estar de sua preferência ou o mais próximo de você, com a mesma facilidade

		que você pode agendar um hotel, comprar uma passagem aérea ou pedir um táxi. Bem na

		palma da mão - em qualquer lugar e qualquer horário.</p>

		<p>Clientes descobrindo novos estabelecimentos e agendando serviços online com a perspectiva

		de economizar o seu tempo e facilitar a vida cotidiana.</p>

		<p>Estabelecimentos de beleza &amp; bem-estar podem apresentar o seu trabalho, conectando-se

		com seus novos clientes e os já existentes, fazendo crescer ainda mais o seu negócio.<p>

		<p class="destaque">O que é a plataforma Markday?</p>

		<p>A Markday é uma plataforma de atendimento através de marketing digital que conecta clientes a

		profissionais prestadores serviços de beleza &amp; bem-estar.<p>

		<p>A Markday agenda serviços de beleza &amp; bem-estar 24 horas por dia e 7 dias por semana. Esta

		é apenas uma das coisas que você consegue fazer na plataforma de agendamentos

		automatizada. Uma vez que você faz parte da nossa plataforma, nós procuramos cuidar de

		sua beleza &amp; bem-estar com o maior prazer - nós faremos o que for preciso para manter você

		sempre atualizado (a) nas tendências de beleza, estilo e mercados mais quentes do momento.

		Você também ganha acesso a ofertas e descontos exclusivos. Uma oferta exclusiva de beleza

		ou spa pode ser seu! Você será sempre informado sobre todas as ofertas e promoções

		especiais.<p>

		<p class="destaque">Como eu posso fazer parte da plataforma Markday?<p>

		<p>Fazer parte da nossa plataforma é muito simples. Ao navegar pelos nossos serviços, você pode

		encontrar todas as ofertas e os melhores estabelecimentos de beleza &amp; bem-estar da sua

		região.<p>

		<p>Toda a informação necessária está disponível em nosso web, como descrições, fotos, duração

		de cada atendimento e os custos de cada serviço. Nós queremos te ajudar na escolha de um

		serviço perfeito. Depois de escolher como e onde você gostaria de realizar o seu atendimento,

		você pode selecionar o horário com um agendamento fácil, rápido e seguro para ser recebido

		diretamente no estabelecimento conforme desejado. Por último, basta você fornecer o seu

		contato e pronto - você possui um agendamento marcado.<p>

		Para simplificar ainda mais a sua vida, depois do agendamento de cada serviço de beleza &amp;

		bem-estar, você pode realizar o pagamento online, pela própria plataforma. É isso mesmo! A

		Markday faz praticamente tudo pra você: agendando o seu atendimento com praticidade e

		rapidez, proporcionando comodidade e segurança. Agora o que você precisa fazer é curtir as

		ofertas da Markay - nunca foi tão simples ter beleza &amp; bem-estar tão próximo de você.<p>

		<p class="destaque">Quanto custa?<p>

		<p>A Markday tem o propósito de revolucionar a forma na qual clientes e usuários se encontram

		para aquecer a indústria da beleza e do bem-estar. É por este motivo que nós não cobramos

		pelos serviços de procura - usar o aplicativo e a website é completamente grátis.

		<p class="destaque">Se você não pretende fazer o seu agendamento agora?</o>

		<p>Sem problemas, nós vamos manter você por dentro de todas as nossas ofertas e últimas

		tendências de beleza &amp; bem-estar. Você só precisa fazer o seu cadastro e ativar a nossa

		newsletter.</p>

		<p>Pronto, assim você receberá todas as informações e promoções que a Markday oferece.</p>

		<p class="destaque">Então o que você está esperando?</p>

		<p>Entre no site hoje mesmo e tenha acesso instantâneo a ofertas exclusivas e dicas de beleza &amp;

		bem-estar no Brasil e no mundo.</p>

		<p class="destaque">Contato:</p>
		KAMBÔ TECNOLOGIA DE SISTEMAS LTDA.</br>
        Endereço: Rua , Bartolomeu Bueno Nº 33, Rio Branco – AC, 69900-541.</br>
        Telefones: +55 (68) 2102-5035</br>
        SAC: contato@markday.com.br</br></br></br>
	
</div>

<!-- Footer template -->
<template-footer></template-footer>