<md-header></md-header>

<div id="base">

	<div class="offcanvas">
	</div>

	<div id="content" ng-init="load()">
		<section>
			<div class="section-header">
				<ol class="breadcrumb">
					<li><i class="md md-account-circle" style="font-size: 24px;height: 35px;"></i> <a href="publicidades/">Publicidades</a></li>
					<li class="active">Editar Publicidade</li>
				</ol>
			</div>
			<div class="section-body contain-lg">
				<div class="col-md-12">
					<div class="card">
						<div class="card-body">
							<form name="$root.publicidadeForm" class="form-horizontal" role="form" type="multipart/form" novalidate>
								
								<h3 class="text-light text-light-gray">Visual</h3>

								<div class="form-group">
									<label class="col-md-3 control-label form-horizontal">Ordenação</label>
									<div class="col-md-9">
										<input type="tel" ng-model="publicidade.ordenacao" name="ordenacao" ui-number-mask required class="form-control">
										<div class="form-control-line"></div>
										<span ng-if="publicidadeForm.ordenacao.$touched && publicidadeForm.ordenacao.$dirty" class="input-dirty-touched">
                     						 <i ng-class="publicidadeForm.ordenacao.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
									</div>
								</div>

								<h3 class="text-light text-light-gray">Controle Interno</h3>

								<div class="form-group">
									<label class="col-md-3 control-label form-horizontal">Estabelecimento</label>
									<div class="col-md-9">
										<select ng-init="loadEstabelecimentos()" ng-model="publicidade.idestabelecimento" ng-options="estabelecimento.id as estabelecimento.nomefantasia for estabelecimento in estabelecimentos.results"
											class="form-control">
                    					</select>
										<div class="form-control-line"></div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label form-horizontal">Tipo</label>
									<div class="col-md-9">
										<select ng-model="publicidade.tipo" class="form-control">
											<option value="home">Página Inicial</option>
                      					</select>
										<div class="form-control-line"></div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label form-horizontal">Período</label>
									<div class="col-md-9">
										<div class="input-group-content">
											<input type="tel" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" ng-model="publicidade.data_inicio" name="data_inicio" required
												class="form-control">
											<div class="form-control-line"></div>
											<span ng-if="publicidadeForm.data_inicio.$touched && publicidadeForm.data_inicio.$dirty" class="input-dirty-touched">
                        						<i ng-class="publicidadeForm.data_inicio.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    						</span>
										</div>
										<span class="input-group-addon">até</span>
										<div class="input-group-content">
											<input type="tel" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" ng-model="publicidade.data_fim" name="data_fim" required
												class="form-control">
											<div class="form-control-line"></div>
											<span ng-if="publicidadeForm.data_fim.$touched && publicidadeForm.data_fim.$dirty" class="input-dirty-touched">
												<i ng-class="publicidadeForm.data_fim.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
											</span>
										</div>
									</div>
								</div>

								<div class="form-group">
									<label class="col-md-3 control-label form-horizontal">Valor</label>
									<div class="col-md-9">
										<input type="tel" ng-model="publicidade.valor" name="valor" required class="form-control" ui-number-mask="2">
										<div class="form-control-line"></div>
										<span ng-if="publicidadeForm.valor.$touched && publicidadeForm.valor.$dirty" class="input-dirty-touched">
                     						 <i ng-class="publicidadeForm.valor.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
									</div>
								</div>

								<hr class="panel-wide">
								<div class="form-group">
									<div class="col-md-9 col-md-offset-3">
										<button ng-click="update()" ng-disabled="publicidadeForm.$invalid || status.loading" class="btn btn-sm btn-primary">
                          					<i ng-if="status.loading" class="fa fa-spin fa-spinner"></i> Salvar
                    					</button>
										<a href="/gestor/publicidades/">Voltar</a>
									</div>
								</div>

							</form>
						</div>
					</div>
				</div>
			</div>
		</section>
	</div>
	<md-sidebar></md-sidebar>
	<md-aside></md-aside>
</div>