<md-header>
</md-header>
<div id="base">

    <div class="offcanvas">
    </div>

    <div id="content" ng-init="load()">
        <section>
            <div class="section-header">
                <ol class="breadcrumb">
                    <li>
                        <i class="md md-account-circle" style="font-size: 24px;height: 35px;"></i> <a href="/gestor/estabelecimentos/">Estabelecimentos</a></li>
<li class="active">Editar Estabelecimento</li>
</ol>
</div>
<div class="section-body contain-lg">
    <div class="col-md-12">

        <div class="card">
            <div class="card-body">
                <form name="$root.estabelecimentoForm" class="form-horizontal" role="form" type="multipart/form" novalidate>

                    <h3 class="text-light text-light-gray">Imagem</h3>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal"><abbr>*</abbr>Imagem(principal)</label>
                        <div class="col-md-6">
                            <input id="faux" type="text" placeholder="Selecionar arquivo do meu dispositivo" />
                            <a href="#" id="browse">Procurar </a>
                            <div id="wrapper">
                                <input name="imagem" type="file" ng-model="estabelecimento.imagem" accept="image/*" ngf-pattern="'.jpg,.jpeg,.png'" ngf-capture="'camera'"
                                    ngf-select inputfilegetname />
                            </div>
                            <span ng-if="estabelecimentoForm.imagem.$error.maxSize" class="input-alert-error">
                        <li>O tamanho do arquivo selecionado é superior a 1.024 KB</li>
                      </span>
                            <span ng-if="estabelecimentoForm.imagem.$error.maxHeight" class="input-alert-error">
                        <li>A dimensão do arquivo selecionado é superior a 800 pixels de altura</li>
                      </span>
                            <span ng-if="estabelecimentoForm.imagem.$error.maxWidth" class="input-alert-error">
                        <li>A dimensão do arquivo selecionado é superior a 800 pixels de largura</li>
                      </span>
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-md-6 col-md-offset-3">
                            <img ng-src="{{estabelecimento.imagem}}?max-h=200&fit=crop" class="img-thumbnail img-responsive">
                        </div>
                    </div>

                    <h3 class="text-light text-light-gray">Dados</h3>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">CNPJ/CPF</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="estabelecimento.cnpjcpf" name="cnpjcpf" required class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.cnpjcpf.$touched && estabelecimentoForm.cnpjcpf.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.cnpjcpf.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Razão Social</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="estabelecimento.razaosocial" name="razaosocial" required class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.razaosocial.$touched && estabelecimentoForm.razaosocial.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.razaosocial.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Nome Fantasia</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="estabelecimento.nomefantasia" name="nomefantasia" required class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.nomefantasia.$touched && estabelecimentoForm.nomefantasia.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.nomefantasia.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Sobre</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="estabelecimento.sobre" name="sobre" required class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.sobre.$touched && estabelecimentoForm.sobre.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.sobre.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Segmento</label>
                        <div class="col-md-3">
                            <select ng-init="loadSegmentos()" ng-model="estabelecimento.idsegmento" ng-options="segmento.id as segmento.nome for segmento in segmentos"
                                class="form-control">
                                        </select>
                        </div>
                    </div>

                    <h3 class="text-light text-light-gray">Contato</h3>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Email</label>
                        <div class="col-md-9">
                            <input type="email" ng-model="estabelecimento.email" name="email" required class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.email.$touched && estabelecimentoForm.email.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.email.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Telefone Comercial</label>
                        <div class="col-md-9">
                            <input type="tel" ng-model="estabelecimento.telefonecomercial" name="telefonecomercial" required ui-br-phone-number class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.telefonecomercial.$touched && estabelecimentoForm.telefonecomercial.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.telefonecomercial.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">CEP</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="estabelecimento.cep" name="cep" ui-br-cep-mask required class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.cep.$touched && estabelecimentoForm.cep.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.cep.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Logradouro</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="estabelecimento.logradouro" name="logradouro" required class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.logradouro.$touched && estabelecimentoForm.logradouro.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.logradouro.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Número</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="estabelecimento.numero" name="numero" ui-number-mask="0" required class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.numero.$touched && estabelecimentoForm.numero.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.numero.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Complemento</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="estabelecimento.complemento" name="complemento" class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.complemento.$touched && estabelecimentoForm.complemento.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.complemento.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Bairro</label>
                        <div class="col-md-9">
                            <input type="text" ng-model="estabelecimento.bairro" name="bairro" required class="form-control">
                            <div class="form-control-line"></div>
                            <span ng-if="estabelecimentoForm.bairro.$touched && estabelecimentoForm.bairro.$dirty" class="input-dirty-touched">
                      						<i ng-class="estabelecimentoForm.bairro.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    					</span>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Estado</label>
                        <div class="col-md-3">
                            <select ng-model="estabelecimento.idestado" ng-init="loadEstados()" ng-change="loadCidades()" ng-options="estado.idestado as estado.nome for estado in estados"
                                class="form-control">
                                        </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Cidade</label>
                        <div class="col-md-3">
                            <select ng-model="estabelecimento.idcidade" ng-init="loadCidades()" ng-options="cidade.idcidade as cidade.nome for cidade in cidades"
                                class="form-control">
                                        </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Plano</label>
                        <div class="col-md-3">
                            <select ng-init="loadPlanos()" ng-model="estabelecimento.idplano" ng-options="plano.id as plano.nome for plano in planos"
                                class="form-control">
                                        </select>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-md-3 control-label form-horizontal">Licença</label>
                        <div class="col-md-9">
                            <div class="input-group-content">
                                <input type="tel" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" ng-model="estabelecimento.licencainicial" name="licencainicial"
                                    required class="form-control">
                                <div class="form-control-line"></div>
                                <span ng-if="estabelecimentoForm.licencainicial.$touched && estabelecimentoForm.licencainicial.$dirty" class="input-dirty-touched">
                        						<i ng-class="estabelecimentoForm.licencainicial.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    						</span>
                            </div>
                            <span class="input-group-addon">até</span>
                            <div class="input-group-content">
                                <input type="tel" placeholder="DD/MM/YYYY" ui-mask="99/99/9999" ng-model="estabelecimento.licencafinal" name="data_fim" required
                                    class="form-control">
                                <div class="form-control-line"></div>
                                <span ng-if="estabelecimentoForm.licencafinal.$touched && estabelecimentoForm.licencafinal.$dirty" class="input-dirty-touched">
												<i ng-class="estabelecimentoForm.licencafinal.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
											</span>
                            </div>
                        </div>
                    </div>

                    <hr class="panel-wide">
                    <div class="form-group">
                        <div class="col-md-9 col-md-offset-3">
                            <button ng-click="update()" ng-disabled="estabelecimentoForm.$invalid || status.loading" class="btn btn-sm btn-primary">
										<i ng-if="status.loading" class="fa fa-spin fa-spinner"></i> Salvar
									</button>
                            <a href="/gestor/estabelecimentos/">Cancelar</a>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
</section>
</div>

<md-sidebar></md-sidebar>

<md-aside></md-aside>

</div>