<!-- BEGIN HEADER-->
<header id="header" 
	ng-controller="headerController">
	<div class="headerbar">
		<!-- Brand and toggle get grouped for better mobile display -->
		<div class="headerbar-left">
			<ul class="header-nav header-nav-options">
				<li>
					<a class="btn btn-icon-toggle menubar-toggle" data-toggle="menubar" href="javascript:;" activemenubar>
						<i class="fa fa-bars"></i>
					</a>
				</li>
				<li class="header-nav-brand">
					<div class="brand-holder">
						<a href="agenda">
							<img src="assets/img/logo.svg">
						</a>
					</div>
				</li>
			</ul>
		</div>
		<!-- Collect the nav links, forms, and other content for toggling -->
		<div class="headerbar-right">
			<ul class="header-nav header-nav-profile">
				<li class="dropdown">
					<a href="javascript:;" class="dropdown-toggle ink-reaction" data-toggle="dropdown">
						<img src="assets/img/usuarios/default.png" alt="" />
						<span class="profile-info">
							<small ng-bind="users.name"></small>
						</span>
					</a>
					<ul class="dropdown-menu animation-dock" >
						<li class="dropdown-header">Informações sobre</li>
						<!--li><a href="javascript:;" ng-click="meuperfil();">Meu perfil</a></li-->
						<li><a href="javascript:;">Meu perfil</a></li>
						<!-- <li><a href="html/pages/blog/post.html">My blog <span class="badge style-danger pull-right">16</span></a></li> -->
						<!-- <li><a href="html/pages/calendar.html">My appointments</a></li> -->
						<li class="divider"></li>
						<!--li><a href="javascript:;" ng-click="alterarsenha();"><i class="fa fa-fw fa-lock"></i> Mudar minha senha</a></li>
						<li-->
						<li><a href="javascript:;">
							<i class="fa fa-fw fa-lock"></i> Mudar minha senha</a>
						</li>
						<li>
							<!--a href="javascript:;" ng-click="logout();"-->
							<a href="javascript:;"
								ng-click="logout()">
								<i class="fa fa-fw fa-power-off text-danger"></i> Sair
							</a>
						</li>
					</ul><!--end .dropdown-menu -->
				</li><!--end .dropdown -->
			</ul><!--end .header-nav-profile -->
			<ul class="header-nav header-nav-toggle">
				<li>
					<a class="btn btn-icon-toggle btn-default" 
						href="javascript:;" activeoffcanvasright>
						<i class="fa fa-ellipsis-v"></i>
					</a>
				</li>
			</ul><!--end .header-nav-toggle -->
		</div><!--end #header-navbar-collapse -->
	</div>
</header>
<!-- END HEADER-->