<!-- BEGIN MENUBAR-->
<div id="menubar" class="menubar-inverse" activeovermenubar>
    <div class="menubar-fixed-panel">
        <div>
            <a class="btn btn-icon-toggle btn-default menubar-toggle" data-toggle="menubar" href="javascript:void(0);">
                <i class="fa fa-bars"></i>
            </a>
        </div>
        <div class="expanded">
            <a href="html/dashboards/dashboard.html">
                <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
            </a>
        </div>
    </div>
    <!--div class="menubar-scroll-panel" ng-controller="loginCtrl" ng-init="getinfologged();"-->
    <div class="menubar-scroll-panel">

        <!-- BEGIN MAIN MENU -->
        <ul id="main-menu" class="gui-controls">

            <!-- BEGIN DASHBOARD -->
            <li class="actMenuBarCtrlDashboard">
                <a href="/gestor/dashboard" class="active">
                    <div class="gui-icon"><i class="md md-dashboard" style="font-size: 24px;"></i></div>
                    <span class="title">Dashboard</span>
                </a>
            </li>
            <!--end /menu-li -->
            <!-- END SCHEDULING -->

            <li class="actMenuBarCtrlMarketing">
                <a href="/gestor/estabelecimentos" class="active">
                    <div class="gui-icon"><i class="fa fa-map-marker"></i></div>
                    <span class="title">Estabelecimentos</span>
                </a>
            </li>
            <!--end /menu-li -->

            <!-- BEGIN SCHEDULING -->
            <li class="actMenuBarCtrlScheduling">
                <a href="/gestor/categorias" class="active">
                    <div class="gui-icon"><i class="fa fa-calendar"></i></div>
                    <span class="title">Categorias</span>
                </a>
            </li>
            <!--end /menu-li -->
            <!-- END SCHEDULING -->

            <!-- BEGIN USERS -->
            <li class="actMenuBarCtrlUsers">
                <a href="/gestor/usuarios">
                    <div class="gui-icon"><i class="md md-account-circle" style="font-size: 24px;"></i></div>
                    <span class="title">Usuários</span>
                </a>
            </li>
            <!--end /menu-li -->
            <!-- END USERS -->

            <li class="actMenuBarCtrlMarketing">
                <a href="/gestor/publicidades" class="active">
                    <div class="gui-icon"><i class="fa fa-bullhorn"></i></div>
                    <span class="title">Publicidades</span>
                </a>
            </li>
            <!--end /menu-li -->

            <!-- END CONFIGURATION -->

        </ul>
        <!--end .main-menu -->
        <!-- END MAIN MENU -->

        <div class="menubar-foot-panel">
            <small class="no-linebreak hidden-folded">
				<span class="opacity-75">Copyright &copy; 2016</span> <strong>Kambo tecnologia LTDA</strong>
			</small>
        </div>
    </div>
    <!--end .menubar-scroll-panel-->
</div>
<!--end #menubar-->
<!-- END MENUBAR -->