.fundo-estabelecimento{
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    background: url(/assets/images/bg1.jpg) no-repeat center center;
    background-size: cover;
}
.transparencia{
    position: fixed;
    display: block;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    z-index: 9;
}
.voltar {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 200;
    background: url(/assets/icons/voltar.svg) no-repeat center center;
    background-size: contain;
    margin: 10px;
    text-indent: -999px;
    overflow: hidden;
    outline: none
}
.btn-avalia-middle-left{
    float: left;
    width: 48.5%; 
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
.btn-avalia-middle-right{
    float: right;
    width: 48.5%; 
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
.btn-avalia-lg{
    width: 100%; 
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 15px;
}
.form-control{
    font-family: Roboto, sans-serif;
}
.register-company{
    background-color: #fff;
    border-radius: 5px;
    overflow: hidden;
    position: relative;
    top: 100px;
    z-index: 99;
}
.register-company h2{
    background-color: #D94432;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    text-align: center;
    color: #fff;
    display: block;
    width: 100%;
    padding: 20px;
    margin: 0;
}
.register-company p{
    display: block;
    padding: 0 30px;
    font-family: 'Roboto', sans-serif;
    font-size: 11px;
    font-weight: 100;
    font-style: italic;
    margin-top: 15px;
}
.register-company .alert p{
    margin: 0;
    padding: 0;
}
.register-company form{
    padding: 10px 30px;
}
.register-company form label{
    font-size: 14px;
    font-weight: 100;
    font-family: 'Roboto', sans-serif;
}
.register-company form label a{
    color: #D94432;
    font-weight: 500;
}
.list-itens{
    position: relative;
    top: 100px;
    z-index: 9;
}
.list-itens h1{
    display: block;
    width: 100%;
    color: #fff;
    font-weight: 500;
    font-size: 32px;
    text-align: center;
    line-height: 35px;
    margin: 0;
    padding: 0;
}
.list-itens ul{
    list-style: none;
    margin: 25px 0 0 0;
    padding: 0;
}
.list-itens ul li{
    padding: 10px 0;
    font-size: 24px;
    font-weight: 300;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}
.list-itens ul li small{
    display: block;
    width: 100%;
    padding: 5px 40px;
    font-weight: 100px;
    font-size: 18px;
}
.list-itens ul li i{
    color: #2ecc71;
    margin-right: 7px;
}
.nopadding {
    padding: 0 !important;
}

