@import url(checkbox.css);
.login {
    position: absolute;
    background: url(/assets/template/plugins/images/heading-bg/slide3.jpg) no-repeat center center;
    background-size: cover;
    height: 100%;
    width: 100%;
}
.login .transparencia {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5)
}
.site-logo {
    background: url(/assets/icons/avaliame-logo.svg) no-repeat center center;
    background-size: contain;
    width: 250px;
    height: 100px;
    margin: auto
}
.site-logo-white {
    background: url(/assets/icons/avaliame-logo-white.svg) no-repeat center center;
    background-size: contain;
    width: 250px;
    height: 100px;
    margin: auto
}
.btn-acessar {
    background-color: rgb(217, 68, 50);
    color: rgb(255, 255, 255);
    border-radius: 0;
}
.btn-acessar:hover {
    background-color: rgba(217, 68, 50, 0.7);
    color: rgb(255, 255, 255)
}
.nova-conta input {
    border-color: rgb(255, 255, 255) !important;
    background-color: #fff !important;
}
.nova-conta label{
    color: #fff;
}
.form-signin p{
    color: #fff;
}
.alert p{
    color: #555;
}
.voltar {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 200;
    background: url(/assets/icons/voltar.svg) no-repeat center center;
    background-size: contain;
    margin: 10px;
    text-indent: -999px;
    overflow: hidden;
    outline: none
}
.has-success .input-group-addon i{
    color: #3c763d !important;
}
.has-error .input-group-addon i{
    color: #a94442 !important;
}
.account-wall {
    margin: 60px auto 0 auto;
    padding: 0px 0px 20px 0px;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
    width: 306px;
    background-color: #222222;
    border-radius: 2px;
}
.account-wall .account-avatar {
    min-height: 118px;
}
.account-wall .account-avatar img {
    margin-left: 11px;
    margin-top: 11px;
    position: absolute;
    width: 96px;
}
.account-wall .login-title {
    color: #6f7b8a;
    display: block;
    font-size: 26px;
    font-weight: 300;
    margin: 20px 0 10px;
    text-transform: uppercase;
}
.account-wall .login-title span {
    font-weight: 700;
}
.account-wall .login-title small {
    display: block;
    color: #6f7b8a;
    font-size: 12px;
    font-weight: 300;
    padding-top: 10px;
    text-transform: capitalize;
}
.account-wall .form-signin {
    margin: 0 auto;
    max-width: 330px;
    padding: 15px;
}
.account-wall .form-signin .form-signin-heading, .account-wall .form-signin .checkbox, .account-wall .form-signin section {
    margin-bottom: 10px;
}
.account-wall .form-signin .form-control {
    background-color: transparent;
    border-color: transparent;
    font-size: 16px;
    font-family: Ubuntu, sans-serif;
    font-weight: 100;
    height: auto;
    padding: 10px 20px !important;
    position: relative;
    color: #555;
}
.account-wall .form-signin .input-group {
    background-color: #FFF;
    border-top: 1px #f5f5f5 solid;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    margin-bottom: -1px;
}
.account-wall .form-signin .input-group-addon {
    background-color: transparent;
    border: none;
    position: relative;
}
.account-wall .form-signin .input-group-addon i {
    color: #e1e1e1;
    margin: auto 5px;
    text-align: center;
    width: 18px;
    padding: 12px 0;
}
.account-wall .form-signin .input-group-addon i:after {
    border-left: 1px #e1e1e1 solid;
    content: "";
    height: 50%;
    margin-left: 15px;
    position: absolute;
    top: 25%;
}
.account-wall span.or {
    color: #666666;
    display: block;
    font-size: 12px;
    margin: 20px 10px 25px;
    position: relative;
    text-align: center;
}
.account-wall span.or:after {
    background-color: rgb(57, 126, 172);
    color: rgb(255, 255, 255);
    content: attr(data-text);
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
.account-wall span.or:before {
    background-color: rgb(57, 126, 172);
    content: "";
    height: 1px;
    left: -10px;
    right: -10px;
    position: absolute;
    top: 50%;
}
.account-wall .help {
    margin-top: 5px;
}
.account-wall .footer-link {
    display: block;
    font-size: 12px;
    margin-top: 10px;
    text-align: center;
    color: rgb(217,68,50);
}
.btn-facebook{
    background-color: #4862A3;
    color: #fff;
}
.btn-facebook:hover{
    background-color: #28468C;
    color: #fff;
}
.btn-nova-conta{
    background-color: #0090e9;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
}
.btn-nova-conta:hover{
    background-color: rgba(0, 144, 233, 0.7);
    color: #fff;
}
.check-errado.checkbox{
    padding: 0;
}
.checkbox-styled:not(ie8) input ~ span::before, .radio-styled:not(ie8) input ~ span::before{
    border: 2px solid #fff;
}
.checkbox-styled:not(ie8) input:checked ~ span::before{
    border-color: #00BFA5;
}
.esqueceu{
    color: #fff;
}
.esqueceu:hover{
    color: #fff;
}
.lembrar{
    color: #fff;
}
.lembrar:hover{
    color: #fff;
}
.lembrar input{
    display: none;
}
.btn-login{
    margin-top: 20px;
}
footer {
    display: block;
    position: relative;
    min-height: 100px;
    margin: 20px 0 0 0;
    background-color: rgb(255, 255, 255);
    padding: 10px 20px
}