@import url(checkbox.css);
.site-logo {
    background: url(/assets/icons/avaliame-logo.svg) no-repeat center center;
    background-size: contain;
    width: 180px;
    height: 70px;
}

.site-logo a{
    width: 100%;
    height: 100%;
    display: block;
}

.hero-1{
    background: #EEEEEE;
    background-size: cover;
    padding: 30px 0 60px 0;
}

.main{
    margin: auto;
    width: 640px;
}

.users{
    text-align: right;
}

.users span{
    width: 100%;
    display: block;
}

.users .hello{
    margin-top: 10px;
    font-size: 12px;
}

.users .name{
    font-size: 16px;
    font-weight: 600;
    margin-top: -5px;
}

.users .email{
    font-size: 12px;
    margin-top: -2px;
}

.users .logout{
    font-size: 12px;
    margin-top: -2px;
}
.users .logout a{
    color: #D94432;
}

.forms{
    background-color: #fff;
    margin-top: -40px;
    margin-bottom: 48px;
    -webkit-box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    box-shadow: 0 1px 4px 0 rgba(0,0,0,0.37);
    word-wrap: break-word;
}

.forms .view{
    color: rgba(0,0,0,.77);
    border-top: 5px solid #D94432;
    padding: 34px 17px;
    display: table;
    width: 100%;
    height: 100%;
    position: relative;
}

.forms .divisor{
    border-top: 1px solid #efefef;
    display: table;
    width: 100%;
    height: 1px;
    margin: 20px 0;
    position: relative;
}

.forms h5{
    font-size: 16px;
    letter-spacing: -0.0179em;
}

.forms .input-lg{
    font-size: 13px;
}

.forms .success{
    text-align: center;
}

.forms .success .icon img{
    height: 84px;
    margin-bottom: 10px;
}

.forms .obs{
    color: rgba(0,0,0,.57);
    font-size: 11px;
}

.checkbox-styled:not(ie8) input ~ span::before, .radio-styled:not(ie8) input ~ span::before{
    border: 2px solid #ddd;
}
.checkbox-styled:not(ie8) input:checked ~ span::before{
    border-color: #00BFA5;
}
.checkbox-styled label, .checkbox-styled label:hover, .checkbox-styled:not(ie8) label, .radio-styled:not(ie8) label, .radio-styled:not(ie8) label:hover{
    color: rgba(0,0,0,.77);  
    width: 100%;  
}

.btn-enviar{
    text-transform: uppercase;
    letter-spacing: 0.0199em;
}

.footer{
    color: rgba(0,0,0,.57);
    font-size: 12px;
}

.btn-acessar {
    background-color: rgb(217, 68, 50);
    color: rgb(255, 255, 255);
    border-radius: 0;
}
.btn-acessar:hover {
    background-color: rgba(217, 68, 50, 0.7);
    color: rgb(255, 255, 255)
}
.btn-nova-conta{
    background-color: #0090e9;
    color: #fff;
    border-radius: 0;
    text-transform: uppercase;
}
.btn-nova-conta:hover{
    background-color: rgba(0, 144, 233, 0.7);
    color: #fff;
}
.btn-recuperar{
    text-align: center;
    margin: 15px 0;
}
span.or {
    color: #666666;
    display: block;
    font-size: 12px;
    margin: 20px 10px 25px;
    position: relative;
    text-align: center;
}
span.or:after {
    background-color: rgb(57, 126, 172);
    color: rgb(255, 255, 255);
    content: attr(data-text);
    display: inline-block;
    width: 50px;
    height: 50px;
    line-height: 50px;
    position: relative;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}
span.or:before {
    background-color: rgb(57, 126, 172);
    content: "";
    height: 1px;
    left: -10px;
    right: -10px;
    position: absolute;
    top: 50%;
}
.modal {
  text-align: center;
  padding: 0!important;
}
.modal:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -4px;
}
.modal-title{
    font-size: 16px;
}
.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}
.modal-backdrop.in{
  height: 100%;
  width: 100%;
}
@media (min-width: 768px){
  modal-dialog {
      width: 600px;
      margin: 200px auto;
  }
}
