<footer>
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="sobre">
					<p><strong>MARKDAY</strong> é a melhor forma de se organizar e potencializar seu negócio. Gestão inteligente de agendamentos e clientes, marketing de serviços, lembretes em SMS e E-mail. Faça a gestão do seu negócio ficar mais rápida, simples e eficiente. Os estabelecimentos podem fidelizar, atrair novos e antigos clientes aumentando sua renda. MARKDAY tem como objetivo construir casos de sucesso no mercado de serviço de beleza & bem estar.</p>
				</div>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12">
				
				<ul class="links-agende">
					<li><a target="_self" href="plataforma">Plataforma</a></li>
					<li><a href="sobre">Sobre</a></li>
					<li><a href="contato">Contato</a></li>
					<li><a href="faq">Perguntas Frequentes</a></li>
					<li><a href="termos-de-uso">Termo de Uso</a></li>
					<li><a href="politica-de-privacidade">Política de Privacidade</a></li>
				</ul>
			</div>
		</div>
	</div>	
</footer>

<script type="text/javascript" src="plugins/mmenu/jquery.mmenu.js"></script>
<script type="text/javascript" src="plugins/form/form.js"></script>
<script type="text/javascript" src="plugins/datetime/datetime.js"></script>
<script type="text/javascript" src="plugins/pluginsForBS/pluginsForBS.js"></script>

<!-- MENU RESPONSIVO JS -->
<script src="js/menu/app.js" type="text/javascript"></script>

<script src="js/tooltip.js"></script>
<script type="text/javascript">
$(document).ready(function(){
	$(".tip-top").tooltip({placement : 'top'});
	$(".tip-right").tooltip({placement : 'right'});
	$(".tip-bottom").tooltip({placement : 'bottom'});
	$(".tip-left").tooltip({ placement : 'left'});
});
</script>
</body>
</html>