<md-header></md-header>
<div id="base">

  <div class="offcanvas">
  </div>

  <div id="content" ng-controller="loginCtrl" ng-init="getinfologged();">

    <div class="row section-breadcrumb">
       <div class="col-md-12">
         <ol class="breadcrumb">
            <li><i class="md md-shopping-cart"></i> <a href="configuracoes/">Marketplace</a></li>
          </ol>
       </div>
    </div>

    <section>
      <div class="section-body contain-lg">
        <div class="col-md-12">

          <div class="card">
            <div class="card-body">
              
              <div class="row">

              <div class="col-md-12">
                <h3 class="text-light text-light-gray">Marketplace</h3>
                <div class="form-group">
                  <div class="col-md-12">
                    <ul>
                      <li><a href="configuracoes/marketplace/agendamento">Agendamento</a></li>
                      <li><a href="configuracoes/marketplace/estabelecimento">Estabelecimento</a></li>
                      <li><a href="configuracoes/marketplace/tags">Parâmetros de busca (Tag's)</a></li>
                    </ul>
                  </div>
                </div>
              </div><!--.col-md-12-->
              

              <div class="col-md-12">
                <hr class="panel-wide">
                <h3 class="text-light text-light-gray">Web site</h3>
                <div class="form-group" ng-if="profileuser == 1 && planuser == 'Empresarial'"> 
                  <div class="col-md-12">
                    <ul>
                      <li><a href="configuracoes/website">Configurar site</a></li>
                    </ul>
                  </div>
                </div>
              </div><!--.col-md-12-->

              <div class="col-md-12">
                <hr class="panel-wide">
                <h3 class="text-light text-light-gray">Sistema/Estabelecimento</h3>
                <div class="form-group">
                  <div class="col-md-12">
                    <ul>
                      <li><a class="text-default-light" href="" style="text-decoration:line-through;">Convênios</a></li>
                      <li><a class="text-default-light" href="" style="text-decoration:line-through;">Comprovante</a></li>
                    </ul>
                  </div>
                </div>
              </div><!--.col-md-12-->

              </div><!--.row-->


            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <md-sidebar></md-sidebar>

  <md-aside></md-aside>

</div>
