<md-header></md-header>
<div id="base">

  <div class="offcanvas">
  </div>

  <div id="content">
    <form name="siteForm" class="form-horizontal" role="form" novalidate>

    <section class="full-bleed height-7">
      <div class="section-body style-default-dark force-padding text-shadow">
        
        <div ng-if="site.background" class="img-backdrop" 
          style="background-image: url('/assets/img/background/{{site.background}}')">
        </div>

        <div ng-if="!site.background" class="img-backdrop" 
          style="background-image: url('/assets/img/background/bg1.jpg')">
        </div>
        <div class="overlay overlay-shade-top stick-top-left height-3"></div>

        <div class="row">
          <div class="col-md-12">
            <div class="dz-message text-center">

              <div class="area-foto">
                <div class="fileupload">
                  <span class="btn btn-default btn-file">
                      <h3>Selecione o arquivo e faça o envio da imagem</h3>
                      <p>Dimensão máxima: 1920 pixels por 1080 pixels/Tamanho máximo do arquivo: 1.024 KB</p>
                    <input type="file" ngf-select 
                      ng-model="site.image" 
                      name="file"
                            accept="image/*" 
                            ngf-max-size="1MB">
                  </span>
                </div>
              </div>

            </div>
          </div>
        </div><!--end .row -->
      </div><!--end .section-body -->
    </section>

    <section>
      <div class="section-header hidden">
        <ol class="breadcrumb">
          <li><i class="fa fa-cloud fa-2x"></i> <a href="site/">Site</a></li>
          <li class="active">Configurações</li>
        </ol>
      </div>
      <div class="section-body contain-lg">
        <div class="col-md-12">

          <div ng-if="site.messagesuccess" class="alert alert-success">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span ng-bind="site.feedback"></span>
          </div>

          <div ng-if="site.messagewarning" class="alert alert-warning">
            <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <span ng-bind="site.feedback"></span>
          </div>

          <div class="card">
            <div class="card-body">
                <h3 class="text-light text-light-gray">Informações</h3>
                
                <div class="form-group">
                  <label class="col-md-3 control-label form-horizontal">Exibir introdução?</label>
                  <div class="col-md-9">
                    <div class="checkbox checkbox-styled">
                      <label>
                        <input type="checkbox" name="exibirintroducao" ng-model="site.exibirintroducao" ng-checked="site.exibirintroducao" 
                        ng-true-value="true" 
                        ng-false-value="false">
                        <span>Sim</span>
                      </label>
                    </div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label form-horizontal">Introdução</label>
                  <div class="col-md-9">
                    <textarea ng-model="site.introducao" ng-disabled="!site.exibirintroducao"
                     rows="3" name="introducao" ng-required="site.exibirintroducao" class="form-control"></textarea>
                    <span ng-if="siteForm.introducao.$touched && siteForm.introducao.$dirty" class="input-dirty-touched">
                      <i ng-class="siteForm.introducao.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    </span>
                  </div>
                </div>

                <hr class="panel-wide">
                <h3 class="text-light text-light-gray">Empresa</h3>

                <div class="form-group">
                  <label class="col-md-3 control-label form-horizontal"><abbr>*</abbr>Titulo</label>
                  <div class="col-md-6">
                  <input type="text" ng-model="site.tituloempresa" name="tituloempresa" required class="form-control">
                  <p class="hint-block">Ex.: Empresa, Corporação, Estabelecimento e outros</p>
                  <span ng-if="siteForm.tituloempresa.$touched && siteForm.tituloempresa.$dirty" class="input-dirty-touched">
                    <i ng-class="siteForm.tituloempresa.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                  </span>
                </div>
                </div>

                <div class="form-group">
                  <label class="col-md-3 control-label form-horizontal"><abbr>*</abbr>Sobre</label>
                  <div class="col-md-9">
                    <textarea ng-model="site.sobre" name="sobre" rows="6" required class="form-control"></textarea>
                    <span ng-if="siteForm.sobre.$touched && siteForm.sobre.$dirty" class="input-dirty-touched">
                      <i ng-class="siteForm.sobre.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                    </span>
                  </div>
                </div>
                
                <hr class="panel-wide">
                <h3 class="text-light text-light-gray">Profissional</h3>

                <div class="form-group">
                  <label class="col-md-3 control-label form-horizontal"><abbr>*</abbr>Titulo</label>
                  <div class="col-md-6">
                  <input type="text" ng-model="site.tituloprofissional" name="tituloprofissional" required class="form-control">
                  <p class="hint-block">Ex.: Profissionais, Equipe, Envolvidos e outros</p>
                  <span ng-if="siteForm.tituloprofissional.$touched && siteForm.tituloempresa.$dirty" class="input-dirty-touched">
                    <i ng-class="siteForm.tituloprofissional.$valid ? 'fa fa-check text-success' : 'fa fa-times text-danger'"></i>
                  </span>
                </div>
                </div>

                <div class="form-group">
                  <div class="col-md-9 col-md-offset-3">
                    <p class="hint-block">Selecione o profissional abaixo que deseja exibir na página</p>
                  </div>
                  <div class="col-md-9 col-md-offset-3" ng-repeat="p in profissionais">
                    <div class="checkbox checkbox-styled">
                      <label>
                        <input type="checkbox" checklist-model="site.profissionais" ng-checked="p.selected==true" ng-click="checaProfissional($index)" checklist-value="p.id">
                        <span>{{p.nome}}</span>
                      </label>
                    </div>
                  </div>
                </div>
                
                <hr class="panel-wide">
                <h3 class="text-light text-light-gray">Serviços</h3>

                <div class="form-group">
                  <div class="col-md-9 col-md-offset-3">
                    <p class="hint-block">Selecione o serviço abaixo que deseja exibir na página</p>
                  </div>
                  <div class="col-md-9 col-md-offset-3" ng-repeat="s in servicos">
                    <div class="checkbox checkbox-styled">
                      <label>
                        <input type="checkbox" checklist-model="site.servicos" ng-checked="s.selected==true" ng-click="checaServico($index)" checklist-value="s.id">
                        <span>{{s.nome}}</span>
                      </label>
                    </div>
                  </div>
                </div>

                <hr class="panel-wide">
                <h3 class="text-light text-light-gray">Redes sociais</h3>

                <div class="row form-group">
                  <label class="col-md-3 control-label form-horizontal">Rede social</label>
                  <div class="col-md-3">
                    <select class="form-control" ng-model="redesocial" name="redesocial">
                      <option value="">Escolher rede social</option>
                      <option value="facebook">Facebook</option>
                      <option value="twitter">Twitter</option>
                      <option value="youtube">Youtube</option>
                      <option value="googleplus">Google+</option>
                      <option value="linkedin">LinkedIn</option>
                    </select>
                  </div>
                  <label class="col-md-1 control-label form-horizontal">URL</label>
                  <div class="col-md-3">
                    <input type="input" class="form-control" ng-model="url" name="url" placeholder="Digite a url da rede social">
                  </div>
                  <div class="col-md-2">
                  <button type="button" class="btn btn-sm btn-primary" ng-click="addredesocial()">
                    <i class="fa fa-plus"></i>
                  </button>
                  </div>
                </div>
                <div class="row form-group" ng-show="redessociais.length>0">
                    <label class="col-md-3 control-label form-horizontal"></label>
                    <div class="col-md-9">
                    <div class="table-modal table-responsive">
                      <table class="table table-striped table-hover no-margin">
                        <thead>
                          <tr>
                            <th width="1%">#</th>
                            <th width="30%">Rede social</th>
                            <th width="55%">URL</th>
                            <th width="14%"></th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr ng-repeat="y in redessociais">
                            <td>{{$index+1}}</td>
                            <td>{{y.tipo}}</td>
                            <td>{{y.url}}</td>
                            <td>
                              <button class="btn btn-sm btn-danger" ng-click="removeredesocial($index)">
                                <i class="fa fa-trash"></i>
                              </button>
                            </td>
                          </tr>
                        </tbody>
                      </table><!-- end table -->
                    </div><!-- end .table-modal -->
                  </div>
                </div>

                <hr class="panel-wide">
                <div class="form-group">
                  <div class="col-md-9 col-md-offset-3">
                    <button
                      ng-click="update()"
                      ng-disabled="siteForm.$invalid || site.submitting"
                      ng-class="{disabled: siteForm.$invalid}"
                      class="btn btn-sm btn-primary"
                      ng-switch="site.submitting">
                      <span ng-switch-default>Salvar</span>
                        <span ng-switch-when="true">
                          <i ng-if="site.submitting" 
                          class="fa fa-spin fa-spinner"></i> Salvando...</span>
                    </button>

                    <!-- <a href="agenda">Cancelar</a> -->
                  </div>
                </div>

              
            </div>
          </div>
        </div>
      </div>
    </section>

    </form>
  </div>

  <md-sidebar></md-sidebar>

  <md-aside></md-aside>

</div>
