<md-header></md-header>
<div id="base">

  <div class="offcanvas">
  </div>

  <div id="content">

    <section>
      <div class="section-header">
        <ol class="breadcrumb">
          <li><i class="md md-settings" style="font-size: 24px;height: 35px;"></i> <a href="configuracoes/">Configurações</a></li>
        </ol>
      </div>
      <div class="section-body contain-lg">
        <div class="col-md-12">

          <div class="card">
            <div class="card-body">
              
              <h3 class="text-light text-light-gray">Marketplace</h3>
              <div class="form-group">
                <div class="col-md-12">
                  <ul>
                    <li><a href="configuracoes/marketplace/agendamento">Agendamento</a></li>
                    <li><a href="configuracoes/marketplace/estabelecimento">Estabelecimento</a></li>
                    <li><a href="configuracoes/marketplace/tags">Parâmetros de busca (Tag's)</a></li>
                  </ul>
                </div>
              </div>

              <!-- <hr class="panel-wide">
              <h3 class="text-light text-light-gray">Estabelecimento</h3>
              <div class="form-group">
                <div class="col-md-12">
                  <ul>
                    <li><a href="configuracoes/marketplace">Agendamento</a></li>
                    <li><a href="configuracoes/estabelecimento">Estabelecimento</a></li>
                    <li><a href="/">Mensagem</a></li>
                    <li><a href="/">Mensagem</a></li>
                  </ul>
                </div>
              </div> -->


            </div>
          </div>
        </div>
      </div>
    </section>

  </div>

  <md-sidebar></md-sidebar>

  <md-aside></md-aside>

</div>
