<!-- BEGIN OFFCANVAS RIGHT -->
<div class="offcanvas" >

	<!-- BEGIN OFFCANVAS SEARCH -->
	<div id="offcanvas-search" class="offcanvas-pane width-8">
		<div class="offcanvas-head">
			<header class="text-primary">Lista de clientes</header>
			<div class="offcanvas-tools">
				<a class="btn btn-icon-toggle btn-default-light pull-right" closeoffcanvasright>
					<i class="md md-close"></i>
				</a>
			</div>
		</div>
		<div class="nano">
			<div class="nano-content" tabindex="0">
				<div class="offcanvas-body no-padding">
					<ul class="list">
						<!--li class="tile divider-full-bleed">
							<div class="tile-content">
								<div class="tile-text"><strong>A</strong></div>
							</div>
						</li-->
						<!--li class="tile" ng-if="!clientesestabelecimento.length"-->
						<li class="tile" >
							<div class="tile-content">
								<div class="tile-text">Nenhum cliente encontrado.</div>
							</div>
						</li>
						<!--li class="tile" ng-repeat="ce in clientesestabelecimento" -->
						<li class="tile" >
							<a class="tile-content ink-reaction" href="" data-toggle="offcanvas" data-backdrop="false">
								<div class="tile-icon">
									<img src="assets/img/usuarios/default.png" alt="" />
								</div>
								<div class="tile-text">
									<!--{{ce.nome}}
									<small>{{ce.telefonecelular | brPhoneNumber}}</small>-->
								</div>
							</a>
						</li>
						
					</ul>
				</div><!--end .offcanvas-body -->
			</div><!-- end .nano-content -->
			<div class="nano-pane">
				<div class="nano-slider"></div>
			</div>
		</div><!-- end .nano -->
	</div><!--end .offcanvas-pane -->
	<!-- END OFFCANVAS SEARCH -->

</div><!--end .offcanvas-->
<!-- END OFFCANVAS RIGHT -->