<div class="modal-header">
    <h3 class="modal-title">Resultado do filtro</h3>
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
</div>
<div class="modal-body card" ng-init="getList();">
	
	<div ng-if="resultado.isloading" class="row">
		<div class="col-md-12 text-center">
	        <i class="fa fa-2x fa-spinner fa-spin"></i>
	        <p>Aguarde processando...</p>
		</div>
	</div>

	<div ng-if="!resultado.isloading" class="row">
		<div class="col-md-12">
			<div class="table-responsive">
				 <table ng-if="!resultado.results" 
				 	class="table table-striped table-hover">
                  <tr class="active">
                    <td>Nenhum resultado carregado</td>
                  </tr>
                </table>
				<table ng-if="resultado.results" 
					class="table table-striped table-result-filter">
					<thead>
						<tr>
							<th width="1%">#</th>
							<th width="15%">Profissional</th>
							<th width="20%">Quando</th>
							<th width="15%">Cliente</th>
							<th width="15%">Status</th>
							<th width="14%">Serviço(s)</th>
							<th width="15%"></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="item in resultado.results">
							<td ng-bind="$index+1"></td>
							<td ng-bind="item.profissional"></td>
							<td ng-bind="item.quando"></td>
							<td ng-bind="item.cliente"></td>
							<td>
								<span ng-if="item.status == 1"
									class="text-normal label label-info">Agendado</span>
								<span ng-if="item.status == 2"
									class="text-normal label label-warning">Agendado via marketplace</span>
								<span ng-if="item.status == 3"
									class="text-normal label label-default">Confirmado</span>
							</td>
							<td>
								<span ng-repeat="service in item.servico" 
									class="text-normal label label-info" ng-bind="service.nome"></span>
							</td>
							<td class="text-center">
								<a href="javascript:void(0);" 
                                    ng-click="remarcarAgendamento(item.id);"
                                    class="btn btn-icon-toggle"
                                    title="Remarcar">
                                    <i class="fa fa-retweet"></i>
                                </a>

                                <a href="javascript:void(0);" 
                                    ng-click="finalizarAgendamento(item.id);"
                                    class="btn btn-icon-toggle"
                                    title="Finalizar">
                                    <i class="md md-attach-money text-success"></i>
                                </a>

                                <a href="javascript:void(0);" 
                                    ng-click="cancelar(item.id);"
                                    class="btn btn-icon-toggle"
                                    title="Cancelar">
                                    <i class="md md-cancel text-danger"></i>
                                </a> 
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div><!--end .row-->

	<div class="row" ng-show="resultado.results">
		<div class="col-md-6">
		  <pagination total-items="totalItems" ng-model="currentPage" ng-change="changePaginate()" max-size="entryLimit" boundary-links="true" items-per-page="numPerPage" class="pagination-sm" previous-text="Voltar" next-text="Próximo" first-text="Primeiro" last-text="Último">
		  </pagination>
		</div>

		<div class="col-md-3 col-md-offset-3">
		  <span class="pagination-length" ng-bind="'Exibindo ' + resultado.results.length + ' de ' + resultado.count.results + ' registros'"></span>
		</div>
	</div><!-- end .row -->
	
</div>
<div class="modal-footer">
	<button class="btn btn-sm btn-default" ng-click="cancel()">Cancelar</button>
</div>
<!-- end modal -->