<div class="modal-header">
    <h3 class="modal-title">Adicionar agendamento</h3>
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
</div>
<div class="modal-body card" ng-init="loadConvenios();" >

    <div ng-if="error" class="alert alert-danger">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <span ng-bind="error"></span>
    </div>

    <div ng-if="success" class="text-center">
      <div class="border-radius-icon border-success">
        <i class="md md-done text-success md-4x"></i>
      </div>
      <h4 ng-bind="success"></h4>
    </div>

    <form ng-show="!success" 
      name="$root.formAgendamento" 
      class="form-horizontal" role="form" novalidate>

      <div class="form-group">
        <div class="col-md-12">
          <label class="control-label" for="nome"><abbr>*</abbr> Cliente</label>

            <input type="search" 
            ng-model="cliente.nome"   
            name="nome" 
            class="form-control" 
            ng-keyup="search($event);"
            min-lenght="3" 
            autocomplete="off" 
            required>
            <span class="input-dirty-touched-formh" ng-if="results.loading" 
              style="top: 32px;right: 25px;">
              <img src="/assets/img/loading.gif" style="width: 18px;">
            </span>
            <span class="help-block text-danger" ng-show="formnovo.nome.$dirty && formnovo.nome.$error.required">Qual o nome do cliente?</span>
          <div ng-if="!results.loading && clientes.results" class="autocomplete">
              <ul>
                  <li ng-repeat="cliente in clientes.results" 
                    ng-class="{active:isCurrentSearch($index+1)}">
                    <a href="javascript:void(0);" 
                      ng-click="setCliente(cliente)"
                      ng-bind="cliente.nome">
                    </a>
                  </li>
              </ul>
          </div>
        </div>
      </div><!-- end .form-group -->
          
      <div class="form-group block-warning">
        <div class="col-md-12">
          <label class="control-label" for="servico"><abbr>*</abbr> Serviço</label>
        </div>
        <div class="col-md-11">
          <select name="servico" class="form-control"
            ng-init="loadServicos()"
            ng-model="agenda.idservico"
            ng-options="s.id as s.nome for s in servico">
            <option value="">Escolha um serviço</option>
          </select>
          <span class="input-dirty-touched-formh" 
            ng-if="results.profissional.loading">
            <img src="/assets/img/loading.gif" style="width: 18px;">
          </span> 
        </div>
        <div class="col-md-1">
          <button type="button" 
            ng-click="addServico(agenda.idservico)"
            class="btn btn-primary btn-sm pull-right">
            <i class="fa fa-plus"></i>
          </button>
        </div>
      </div><!-- end .form-group -->

      <div class="form-group" 
        ng-show="servicos.length">
        <div class="col-md-12">
          <div class="table-modal">
            <table class="table table-striped table-hover no-margin">
              <tbody>
                <tr ng-repeat="servico in servicos">
                  <td ng-bind="$index+1"></td>
                  <td ng-bind="servico.nome"></td>
                  <td>
                    <span ng-if="servico.sobconsulta==1" 
                      ng-bind="'sob consulta'"></span>
                    <span ng-if="servico.sobconsulta==0 && servico.promocao==1"
                      ng-bind="servico.valorpromocao|finance:true:2"></span>
                    <span ng-if="servico.sobconsulta==0 && servico.promocao==0"
                      ng-bind="servico.valor|finance:true:2"></span>
                  </td>
                  <td>
                    <button type="button"
                      class="btn btn-sm btn-danger" 
                      ng-click="delServico(servico.id)">
                      <i class="fa fa-trash"></i>
                    </button>
                  </td>
                </tr>
              </tbody>
            </table><!-- end table -->
          </div><!-- end .table-modal -->  
        </div><!-- end .col-md-12 -->
      </div><!-- end .form-group -->

      <div class="form-group">

        <div class="col-md-4">
          <label class="control-label" for="date">Data</label>
          <div class="input-group">
            <input type="text" 
              ng-model="agenda.data" 
              name="date" 
              id="date" 
              class="form-control" 
              readonly>
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>

        <div class="col-md-4">
          <label class="control-label" for="hora">Horário</label>
          <input type="text" 
            ng-model="agenda.horario" 
            name="hora" 
            id="hora" 
            class="form-control" 
            readonly>
        </div>

        <div class="col-md-4">
          <label class="control-label" for="duracao"><abbr>*</abbr> Duração</label>
          <select name="duracao" 
              class="form-control"
              ng-init="loadDuracao()"
              ng-model="agenda.duracao"
              ng-change="durationTime()" 
              ng-options="d.tempo as d.hora for d in duracao"
              required>
          </select>
          <span class="help-block text-danger" ng-show="formnovo.duracao.$dirty && formnovo.duracao.$invalid">Qual a duração do(s) serviço(s)?</span>
        </div>
      </div><!-- end .form-group -->

      <div class="form-group">
        <p></p>
        <div class="col-md-9">
          <small ng-bind="'** Este serviço finaliza às '+ agenda.duracao_final"></small>
        </div>

        <div class="col-md-3 text-right">
          <a href="javascript:;"
            ng-click="nota=true"
            ng-show="!nota">Adicionar nota</a>
          <a href="javascript:;"
            ng-click="nota=false"
            ng-show="nota">Ocultar nota</a>
        </div>

        <div class="col-md-12"
          ng-show="nota">
          <label class="control-label" for="observacao">Nota</label>
          <textarea ng-model="agenda.observacao" 
              name="observacao" 
              id="observacao" 
              class="form-control"
              rows="2">
          </textarea>
        </div>
      </div><!-- end .form-group -->

  </form>
</div>
<div class="modal-footer">

    <button ng-if="!success"
      class="btn btn-sm btn-primary" 
      type="button" 
      ng-click="save()" 
      ng-disabled="formnovo.$invalid || servicos.length== 0 || status.loading">
      <i ng-if="status.loading" class="fa fa-spin fa-spinner"></i> Salvar</button>
</div>