<div class="tooltip-calendar hidden">
	<div class="modal-header ">
	    <button type="button" class="close" 
	    	ng-click="tooltipClose()" 
	    	aria-hidden="true">×</button>
	</div>
	<div class="modal-body card">

		<form id="$root.tooltipCalendar" name="tooltipCalendar" class="form-horizontal">
		    
			<button type="button" 
	            class="btn btn-sm btn-mark"
	            ng-click="schedule()">
	            	<i class="fa fa-plus"></i> Adicionar agendamento
	        </button>

	        <p></p>

	        <button type="button" 
	            class="btn btn-sm btn-default"
	            ng-click="scheduleBlock()">
	            	<i class="fa fa-lock"></i> Bloquear horário
	        </button>

		</form>
		
	</div>
</div>
<!-- end modal calendar -->