<div class="modal-header">
    <h3 class="modal-title">Anotações</h3>
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
</div>
<div class="modal-body card" ng-init="load();">

	<div ng-if="results.loading" class="row">
		<div class="col-md-12 text-center">
	        <i class="fa fa-2x fa-spinner fa-spin"></i>
	        <p>Aguarde processando...</p>
		</div>
	</div>

	<div ng-if="!results.loading" class="row">
		<div class="col-md-12">
			<div ng-if="success" class="alert alert-success">
				<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span ng-bind="success"></span>
			</div>

			<div ng-if="error" class="alert alert-danger">
				<a class="close" data-dismiss="alert" aria-label="close">&times;</a>
				<span ng-bind="error"></span>
			</div>
		</div>
	</div><!-- end .form-group -->


	<form ng-if="!results.loading" 
		name="$root.anotacaoForm" class="form-horizontal" role="form" novalidate>
		<div class="col-md-12">

			<div class="form-group">
				<div text-angular="text-angular" 
					name="description" 
					ng-model="lembrete.description"
					ta-toolbar-class="btn-toolbar" 
					ta-toolbar-group-class="btn-group" 
					ta-toolbar-button-class="btn btn-default" 
					ta-toolbar-active-button-class="active"
					ta-toolbar="[['bold','italics','underline','strikeThrough'],['ul','ol']]"
					required>
				</div>
			</div><!-- end .form-group -->

		</div>
	</form>

</div>

<div class="modal-footer">
	<button class="btn btn-sm btn-success"
		ng-if="!results.loading" 
		type="button" 
		ng-disabled="anotacaoForm.$invalid || status.loading"
		ng-click="update()"> <i ng-if="status.loading" class="fa fa-spin fa-spinner"></i> Salvar</button>
    <button class="btn btn-sm btn-default" type="button" ng-click="cancel()">Fechar</button>
</div>
