<div class="modal-header">
    <h3 class="modal-title">Confirmação de ação</h3>
    <button type="button" class="close" ng-click="cancel()" aria-hidden="true">×</button>
</div>
<div class="modal-body card">

	<div ng-if="error" class="alert alert-danger">
      <a class="close" data-dismiss="alert" aria-label="close">&times;</a>
      <span ng-bind="error"></span>
    </div>

	<div ng-if="success" class="text-center">
      <div class="border-radius-icon border-success">
        <i class="md md-done text-success md-4x"></i>
      </div>
      <h4 ng-bind="success"></h4>
    </div>
	
	<div ng-if="!success && !error" class="text-center">
		<div class="border-radius-icon border-danger">
			<i class="md md-warning text-danger md-4x"></i>
    </div>
		<h4>Opa! Tem certeza que vai cancelar o agendamento?</h4>
    <p class="m-t-10 m-b-5">Compromisso agendado para o dia <span ng-bind="agenda.data"></span> as <span ng-bind="agenda.horariom + 'h' + agenda.horarios"></span> ao cliente <span ng-bind="agenda.cliente"></span>.</p>
  </div>
  
</div>
<div class="modal-footer">
    <button ng-if="!success && !error"
      class="btn btn-sm btn-danger"
      ng-disabled="status.loading"
      ng-click="ok()"><i ng-if="status.loading" class="fa fa-spin fa-spinner"></i> Sim</button>
    <button class="btn btn-sm btn-default" ng-click="cancel()">Cancelar</button>
</div>
<!-- end modal -->