<a href="/" class="voltar">Voltar</a>
<!-- Login Content -->
<div class="plan">
    <div class="transparencia"></div>
    <div class="container">

        <div class="cd-pricing-container cd-has-margins">
            <div class="cd-pricing-switcher">
                <p class="fieldset">
                    <input type="radio" name="duration-2" value="monthly" id="monthly-2" checked>
                    <label for="monthly-2">Mensal</label>
                    <input type="radio" name="duration-2" value="yearly" id="yearly-2">
                    <label for="yearly-2">Anual</label>
                    <span class="cd-switch"></span>
                </p>
            </div> <!-- .cd-pricing-switcher -->

            <ul class="cd-pricing-list cd-bounce-invert">
                <li>
                    <ul class="cd-pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="cd-pricing-header">
                                <h2>Básico</h2>

                                <div class="cd-price">
                                    <span class="cd-currency">R$</span>
                                    <span class="cd-value">39,90</span>
                                    <span class="cd-duration">mês</span>
                                </div>
                            </header> <!-- .cd-pricing-header -->

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li><em>Não possui</em> Website</li>
                                    <li><em>5</em> Profissionais</li>
                                    <li>Agendamento pela Plataforma</li>
                                    <li>Relatórios</li>
                                    <li><em>Não possui</em> SMS</li>
                                    <li><em>On-line</em> Pagamento</li>
                                </ul>
                            </div> <!-- .cd-pricing-body -->

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="http://codyhouse.co/?p=429">Comprar</a>
                            </footer>  <!-- .cd-pricing-footer -->
                        </li>

                        <li data-type="yearly" class="is-hidden">
                            <header class="cd-pricing-header">
                                <h2>Básico</h2>

                                <div class="cd-price">
                                    <span class="cd-currency">R$</span>
                                    <span class="cd-value">478,80</span>
                                    <span class="cd-duration">ano</span>
                                </div>
                            </header> <!-- .cd-pricing-header -->

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li><em>Não possui</em> Website</li>
                                    <li><em>5</em> Profissionais</li>
                                    <li>Agendamento pela Plataforma</li>
                                    <li>Relatórios</li>
                                    <li><em>Não possui</em> SMS</li>
                                    <li><em>On-line</em> Pagamento</li>
                                </ul>
                            </div> <!-- .cd-pricing-body -->

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="http://codyhouse.co/?p=429">Comprar</a>
                            </footer>  <!-- .cd-pricing-footer -->
                        </li>
                    </ul> <!-- .cd-pricing-wrapper -->
                </li>

                <li class="cd-popular">
                    <ul class="cd-pricing-wrapper">
                        <li data-type="monthly" class="is-visible">
                            <header class="cd-pricing-header">
                                <h2>Completo</h2>
                                <div class="cd-price">
                                    <span class="cd-currency">R$</span>
                                    <span class="cd-value">69,90</span>
                                    <span class="cd-duration">mês</span>
                                </div>
                            </header> <!-- .cd-pricing-header -->

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li><em>1</em> Websites</li>
                                    <li><em>20</em> Profissionais</li>
                                    <li>Agendamento pela plataforma e Site Exclusivo</li>
                                    <li>Relatórios</li>
                                    <li><em>160</em> SMS</li>
                                    <li><em>On-line</em> Pagamento</li>
                                </ul>
                            </div> <!-- .cd-pricing-body -->

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="http://codyhouse.co/?p=429">Comprar</a>
                            </footer>  <!-- .cd-pricing-footer -->
                        </li>

                        <li data-type="yearly" class="is-hidden">
                            <header class="cd-pricing-header">
                                <h2>Popular</h2>

                                <div class="cd-price">
                                    <span class="cd-currency">R$</span>
                                    <span class="cd-value">838,80</span>
                                    <span class="cd-duration">ano</span>
                                </div>
                            </header> <!-- .cd-pricing-header -->

                            <div class="cd-pricing-body">
                                <ul class="cd-pricing-features">
                                    <li><em>1</em> Websites</li>
                                    <li><em>20</em> Profissionais</li>
                                    <li>Agendamento pela plataforma e Site Exclusivo</li>
                                    <li>Relatórios</li>
                                    <li><em>160</em> SMS</li>
                                    <li><em>On-line</em> Pagamento</li>
                                </ul>
                            </div> <!-- .cd-pricing-body -->

                            <footer class="cd-pricing-footer">
                                <a class="cd-select" href="http://codyhouse.co/?p=429">Comprar</a>
                            </footer>  <!-- .cd-pricing-footer -->
                        </li>
                    </ul> <!-- .cd-pricing-wrapper -->
                </li>
            </ul> <!-- .cd-pricing-list -->
        </div> <!-- .cd-pricing-container -->

    </div>
    <!-- //container-->
</div>
<!-- END Login Content -->