<!-- BEGIN MENUBAR-->
<div id="menubar" 
	ng-controller="headerController"
	class="menubar-inverse" activeovermenubar>
	<div class="menubar-scroll-panel">

		<!-- BEGIN MAIN MENU -->
		<ul id="main-menu" class="gui-controls">

			<!-- BEGIN DASHBOARD -->
			<li class="actMenuBarCtrlDashboard">
				<a href="dashboard" class="active">
					<div class="gui-icon"><i class="md md-dashboard" style="font-size: 24px;"></i></div>
					<span class="title">Painel</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END SCHEDULING -->

			<!-- BEGIN SCHEDULING -->
			<li class="actMenuBarCtrlScheduling">
				<a href="agenda" class="active">
					<div class="gui-icon"><i class="fa fa-calendar"></i></div>
					<span class="title">Agenda</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END SCHEDULING -->

			<!-- BEGIN CLIENTS -->
			<li class="actMenuBarCtrlClients" ng-if="users.profile >= 1 && users.profile <= 3">
				<a href="clientes">
					<div class="gui-icon"><i class="md md-account-child" style="font-size: 24px;"></i></div>
					<span class="title">Clientes</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END CLIENTS -->

			<!-- BEGIN PROFESSIONAL -->
			<!-- <li class="actMenuBarCtrlProfessionals" ng-if="users.profile == 1">
				<a href="profissionais">
					<div class="gui-icon"><i class="fa fa-users"></i></div>
					<span class="title">Profissionais</span>
				</a>
			</li> -->
			<!--end /menu-li -->
			<!-- END PROFESSIONAL -->

			<!-- BEGIN SERVICES -->
			<!-- <li class="actMenuBarCtrlServices" ng-if="users.profile == 1">
				<a href="servicos">
					<div class="gui-icon"><i class="md md-view-list" style="font-size: 24px;"></i></div>
					<span class="title">Serviços</span>
				</a>
			</li> -->
			<!--end /menu-li -->
			<!-- END SERVICES -->

			<!-- BEGIN USERS -->
			<li class="actMenuBarCtrlUsers" ng-if="users.profile == 1">
				<a href="usuarios">
					<div class="gui-icon"><i class="md md-account-circle" style="font-size: 24px;"></i></div>
					<span class="title">Usuários</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END USERS -->

			<!-- BEGIN ANALYTICS -->
			<!-- <li class="actMenuBarCtrlAnalytics" ng-if="users.profile == 1 && planuser == 'Empresarial'">
				<a href="relatorio">
					<div class="gui-icon"><i class="md md-trending-up" style="font-size: 24px;"></i></div>
					<span class="title">Relatórios</span>
				</a>
			</li> -->
			<!--end /menu-li -->
			<!-- END WEBSITE -->

			<!-- BEGIN WEBSITE -->
			<!-- <li class="actMenuBarCtrlSite" ng-if="users.profile == 1 && planuser == 'Empresarial'">
				<a href="site">
					<div class="gui-icon"><i class="fa fa-cloud"></i></div>
					<span class="title">Site</span>
				</a>
			</li> -->
			<!--end /menu-li -->
			<!-- END WEBSITE -->

			<!-- BEGIN CONFIGURATION -->
			<li class="actMenuBarCtrlConfiguration" ng-if="users.profile == 1">
				<a href="configuracoes/list">
					<div class="gui-icon"><i class="md md-settings" style="font-size: 24px;"></i></div>
					<span class="title">Configurações</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END CONFIGURATION -->

			<!-- BEGIN CONFIGURATION -->
			<li class="actMenuBarCtrlConfiguration" ng-if="users.profile == 1">
				<a href="configuracoes/marketplace">
					<div class="gui-icon"><i class="md md-shopping-cart" style="font-size: 24px;"></i></div>
					<span class="title">Marketplace</span>
				</a>
			</li><!--end /menu-li -->
			<!-- END CONFIGURATION -->

		</ul><!--end .main-menu -->
		<!-- END MAIN MENU -->

		<div class="menubar-foot-panel">
			<small class="no-linebreak hidden-folded">
				<span class="opacity-75">Copyright &copy; 2016</span> <strong>Kambo tecnologia</strong>
			</small>
		</div>
	</div><!--end .menubar-scroll-panel-->
</div><!--end #menubar-->
<!-- END MENUBAR