<!-- Password reset Content -->
<div class="login">
    <div class="transparencia"></div>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
            
                <div class="account-wall">
                    <section class="align-lg-center">
                        <div class="site-logo"></div>
                    </section>
                    <form name="formPasswordReset" role="form" class="form-signin" novalidate>
                        <section>
                            <p>Insira seu e-mail que você usou no cadastro. Nós mandaremos um e-mail com um link para você redefinir sua senha.</p>
                            <div class="alert alert-warning" 
                                ng-show="messagewarning">
                                {{messagefeedbackps}}
                            </div>
                            <div class="alert alert-success"
                                ng-show="messagesuccess">
                                {{messagefeedbackps}}
                            </div>
                        </section>
                        <section>
                            <div class="input-group">
                                <div class="input-group-addon"><i class="fa fa-user"></i></div>
                                <input type="email" class="form-control" name="uEmail" placeholder="E-mail" ng-model="user.email" required>
                            </div>
                             <span class="help-block" 
                                ng-show="formPasswordReset.uEmail.$dirty 
                                    && formPasswordReset.uEmail.$error.required">O campo e-mail é obrigatório</span>
                                <span class="help-block" 
                                ng-show="formPasswordReset.uEmail.$error.email">Informe um e-mail válido</span>
                            <br />
                            <button 
                                id="enviar"
                                class="btn btn-lg btn-acessar btn-block" 
                                type="submit" 
                                ng-class="{disabled: formPasswordReset.$invalid}"
                                ng-click="passwordreset(user)"
                                ng-disabled="submitting" 
                                ng-switch="submitting">
                                <span ng-switch-default>ENVIAR</span>
                                <span ng-switch-when="true">AGUARDE...</span>
                            </button>
                            <img src="assets/img/loading.gif" 
                                ng-show="isloading" 
                                style="width: 28px; height: 28px; margin: -65px 0px 0px 10px;">
                        </section>
                    </form>
                    <a href="#!/empresa" class="footer-link">&copy; 2015 Kambô Tecnologia &trade; </a>
                </div>  
                <!-- //account-wall-->
                    
            </div>
            <!-- //col-sm-6 col-md-4 col-md-offset-4-->
        </div>
        <!-- //row-->
    </div>
    <!-- //container-->
</div>
<!-- END Password Reset Content -->